# -*- mode: gitignore; -*-

# Ignorar archivos temporales de emacs
\#*\#
.\#*

# Ignorar archivos org-mode
.Org*
.org* 

# Ignorar archivos comprimidos, ejecutables y de estilo
.zip
.exe

# Ignorar variables de entorno
.env*
